<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{client/assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{client/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{client/assets/css/flaticon.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/progressbar_barfiller.css}">
<link rel="stylesheet" th:href="@{client/assets/css/gijgo.css}">
<link rel="stylesheet" th:href="@{client/assets/css/animate.min.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/animated-headline.css}">
<link rel="stylesheet" th:href="@{client/assets/css/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{client/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{client/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{client/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{client/assets/css/style.css}">
</head>
<body>
	<div th:fragment="footer">
		<div class="footer-wrappper footer-bg">
			<!-- Footer Start-->
			<div class="footer-area footer-padding">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
							<div class="single-footer-caption mb-50">
								<div class="single-footer-caption mb-30">
									<!-- logo -->
									<div class="footer-logo mb-25">
										<a th:href="@{index.html}"><img
											th:src="@{client/assets/img/logo/logo2_footer.png}" alt=""></a>
									</div>
									<div class="footer-tittle">
										<div class="footer-pera">
											<p>VCourse tự hào là "siêu thị" các khóa học trực tuyến
												ngắn hạn lớn nhất Đông Nam Á với hàng nghìn khóa học thuộc
												mọi lĩnh vực, đội ngũ giảng viên chuyên nghiệp, giàu kinh
												nghiệm và mạng lưới học viên rộng khắp cả nước. VCourse -
												nơi bạn học mọi kĩ năng làm chủ tương lai.</p>
										</div>
									</div>
									<!-- social -->
									<div class="footer-social">
										<a th:href="@{https://www.facebook.com/vienmv.th}"><i class="fab fa-twitter"></i></a> <a
											th:href="@{https://www.facebook.com/vienmv.th}"><i
											class="fab fa-facebook-f"></i></a> <a th:href="@{https://www.facebook.com/vienmv.th}"><i
											class="fab fa-pinterest-p"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>Our solutions</h4>
									<ul>
										<li><a th:href="@{#}">Design & creatives</a></li>
										<li><a th:href="@{#}">Telecommunication</a></li>
										<li><a th:href="@{#}">Restaurant</a></li>
										<li><a th:href="@{#}">Programing</a></li>
										<li><a th:href="@{#}">Architecture</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>Support</h4>
									<ul>
										<li><a th:href="@{#}">Design & creatives</a></li>
										<li><a th:href="@{#}">Telecommunication</a></li>
										<li><a th:href="@{#}">Restaurant</a></li>
										<li><a th:href="@{#}">Programing</a></li>
										<li><a th:href="@{#}">Architecture</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4>Company</h4>
									<ul>
										<li><a th:href="@{#}">Design & creatives</a></li>
										<li><a th:href="@{#}">Telecommunication</a></li>
										<li><a th:href="@{#}">Restaurant</a></li>
										<li><a th:href="@{#}">Programing</a></li>
										<li><a th:href="@{#}">Architecture</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area -->
			<div class="footer-bottom-area">
				<div class="container">
					<div class="footer-border">
						<div class="row d-flex align-items-center">
							<div class="col-xl-12">
								<div class="footer-copy-right text-center">
									<p>
										<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
										Copyright &copy;
										<script>
											document.write(new Date()
													.getFullYear());
										</script>
										All rights reserved | Design by <a
											th:href="@{https://facebook.com/vienmv.th}" target="_blank">Mai
											Văn Viên</a>
										<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer End-->
		</div>
	</div>

</body>
</html>