<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout}">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
    <link rel="stylesheet" th:href="@{client/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/style.css}">
</head>
<body>
	<!-- Header Start -->
	<div th:fragment="service">
		<div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img th:src="@{client/assets/img/icon/icon1.svg}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>600+ Khóa học</h3>
                                <p>Giúp bạn cải thiện chuyên môn, ngoại ngữ , kĩ năng mềm....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img th:src="@{client/assets/img/icon/icon2.svg}" alt="}">
                            </div>
                            <div class="features-caption">
                                <h3>Giảng viên kinh nghiệm</h3>
                                <p>Hỗ trợ 24/24 mỗi khi bạn cần, giúp bạn đạt hiệu quả cao nhất khi học .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img th:src="@{client/assets/img/icon/icon3.svg}" alt="}">
                            </div>
                            <div class="features-caption">
                                <h3>Không giới hạn thời gian</h3>
                                <p>Khóa học không giới hạn thời gian, số lần học. Mua một lần dùng mãi mãi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!-- Header End -->
</body>
</html>