<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Courses | Education</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{client/assets/img/favicon.ico}">

<!-- CSS here -->
<link rel="stylesheet" th:href="@{client/assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{client/assets/css/slicknav.css}">
<link rel="stylesheet" th:href="@{client/assets/css/flaticon.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/progressbar_barfiller.css}">
<link rel="stylesheet" th:href="@{client/assets/css/gijgo.css}">
<link rel="stylesheet" th:href="@{client/assets/css/animate.min.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/animated-headline.css}">
<link rel="stylesheet" th:href="@{client/assets/css/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{client/assets/css/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{client/assets/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{client/assets/css/slick.css}">
<link rel="stylesheet" th:href="@{client/assets/css/nice-select.css}">
<link rel="stylesheet" th:href="@{client/assets/css/style.css}">
</head>

<body>
	<!-- ? Preloader Start -->
	<div id="preloader-active">
		<div
			class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img th:src="@{client/assets/img/logo/loder.png}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<!-- Header Start -->
	<th:block th:insert="~{client/fragments/nav :: main-header}"></th:block>
	<!-- Header End -->
	<main>
		<!--? slider Area Start-->
		<section class="slider-area slider-area2">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider slider-height2">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-11 col-md-12">
								<div class="hero__caption hero__caption2">
									<h1 data-animation="bounceIn" data-delay="0.2s">Our
										courses</h1>
									<!-- breadcrumb Start-->
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
											<li class="breadcrumb-item"><a href="#">Services</a></li>
										</ol>
									</nav>
									<!-- breadcrumb End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<th:block th:insert="~{client/fragments/courses_top :: courses_top}"></th:block>
		<!--? top subjects Area Start -->
		<th:block th:insert="~{client/fragments/subject_top :: subject_top}"></th:block>
		<!-- top subjects End -->
		<!-- Courses area start -->
		<th:block th:insert="~{client/fragments/courses_list :: courses_list}"></th:block>
		<!-- Courses area End -->
		<!-- ? services-area -->
		<th:block th:insert="~{client/fragments/service :: service}"></th:block>


	</main>
	<footer>
		<div th:insert="~{client/fragments/footer :: footer}"></div>
	</footer>
	<!-- Scroll Up -->
	<div id="back-top">
		<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
	</div>

	<!-- JS here -->
	<script th:src="@{./client/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script th:src="@{./client/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<script th:src="@{./client/assets/js/popper.min.js}"></script>
	<script th:src="@{./client/assets/js/bootstrap.min.js}"></script>
	<!-- Jquery Mobile Menu -->
	<script th:src="@{./client/assets/js/jquery.slicknav.min.js}"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script th:src="@{./client/assets/js/owl.carousel.min.js}"></script>
	<script th:src="@{./client/assets/js/slick.min.js}"></script>
	<!-- One Page, Animated-HeadLin -->
	<script th:src="@{./client/assets/js/wow.min.js}"></script>
	<script th:src="@{./client/assets/js/animated.headline.js}"></script>
	<script th:src="@{./client/assets/js/jquery.magnific-popup.js}"></script>

	<!-- Date Picker -->
	<script th:src="@{./client/assets/js/gijgo.min.js}"></script>
	<!-- Nice-select, sticky -->
	<script th:src="@{./client/assets/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{./client/assets/js/jquery.sticky.js}"></script>
	<!-- Progress -->
	<script th:src="@{./client/assets/js/jquery.barfiller.js}"></script>

	<!-- counter , waypoint,Hover Direction -->
	<script th:src="@{./client/assets/js/jquery.counterup.min.js}"></script>
	<script th:src="@{./client/assets/js/waypoints.min.js}"></script>
	<script th:src="@{./client/assets/js/jquery.countdown.min.js}"></script>
	<script th:src="@{./client/assets/js/hover-direction-snake.min.js}"></script>

	<!-- contact js -->
	<script th:src="@{./client/assets/js/contact.js}"></script>
	<script th:src="@{./client/assets/js/jquery.form.js}"></script>
	<script th:src="@{./client/assets/js/jquery.validate.min.js}"></script>
	<script th:src="@{./client/assets/js/mail-script.js}"></script>
	<script th:src="@{./client/assets/js/jquery.ajaxchimp.min.js}"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script th:src="@{./client/assets/js/plugins.js}"></script>
	<script th:src="@{./client/assets/js/main.js}"></script>

</body>
</html>