<!doctype html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org" 
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Login VTool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{client/assets/img/favicon.ico}">

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{client/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/animated-headline.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/slick.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{client/assets/css/style.css}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{client/assets/img/logo/loder.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->


    <main class="login-body" th:data-vide-bg="@{client/assets/img/login.mp4}">
        <!-- Login Admin -->
        <form class="form-default" action="login-bg.mp4" method="POST">
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a th:href="@{/}"><img th:src="@{client/assets/img/logo/loder.png}" alt=""></a>
                </div>
                <h2>Đăng Nhập</h2>
                <div class="form-input">
                    <input  type="email" name="email" placeholder="Email">
                </div>
                <div class="form-input">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="login">
                </div>
                
                <!-- Forget Password -->
                <a href="#" class="forget">Quên mật khẩu</a>
                <!-- Forget Password -->
                <a th:href="@{register}" class="registration">Đăng Kí</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>


    <script th:src="@{./client/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{./client/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{./client/assets/js/popper.min.js}"></script>
    <script th:src="@{./client/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{./client/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Video bg -->
    <script th:src="@{./client/assets/js/jquery.vide.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{./client/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{./client/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{./client/assets/js/wow.min.js}"></script>
    <script th:src="@{./client/assets/js/animated.headline.js}"></script>
    <script th:src="@{./client/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{./client/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:src="@{./client/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{./client/assets/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:src="@{./client/assets/js/jquery.barfiller.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{./client/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{./client/assets/js/waypoints.min.js}"></script>
    <script th:src="@{./client/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{./client/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{./client/assets/js/contact.js}"></script>
    <script th:src="@{./client/assets/js/jquery.form.js}"></script>
    <script th:src="@{./client/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{./client/assets/js/mail-script.js}"></script>
    <script th:src="@{./client/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script th:src="@{./client/assets/js/plugins.js}"></script>
    <script th:src="@{./client/assets/js/main.js}"></script>
    
    </body>
</html>